/* ~/.config/gtk-3.0/gtk.css */
terminal-window notebook > header.top {
}
terminal-window notebook > header.top button {
	padding: 0 0 0 0;
	background-image: none;
	border: 0;
}
terminal-window notebook > header.top > tabs > tab {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border: none;
}
terminal-window notebook > header.top > tabs > tab label {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	border: none;
}


TerminalWindow .notebook .button,
TerminalWindow .notebook .button:active {
	padding: 0 0 0 0;
	background-image: none;
	border: 0;
}


window.ssd headerbar.titlebar {
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 0;
}

window.ssd headerbar.titlebar button.titlebutton {
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 0;
}

/* shrink headebars */
headerbar {
	min-height: 30px;
	padding-left: 1px; /* same as childrens vertical margins for nicer proportions */
	padding-right: 1px;
}

headerbar entry,
headerbar spinbutton,
headerbar button,
headerbar separator {
	margin-top: 1px; /* same as headerbar side padding for nicer proportions */
	margin-bottom: 1px;
}

/* shrink ssd titlebars */
.default-decoration {
	min-height: 0; /* let the entry and button drive the titlebar size */ 
	padding: 1px
}

.default-decoration .titlebutton {
	min-height: 15px; /* tweak these two props to reduce button size */
	min-width: 15px;
}
